<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Promy</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
	<header class="site-heading">
		<nav class="header">
			<i class="fa fa-bolt" aria-hidden="true" style="color: purple;font-size: 1em;"></i>
			<a class="logo" href="#">PROMY</a>
			<a class="site-header-link" id="login" href="#">LOGIN</a>
			<a class="site-header-link" href="#">SUBMIT A SONG</a>
			<a class="site-header-link" href="#">TODAYS TOP 10</a>
		</nav>
	</header>
	<div class="section-email">
		<div class="emailCTA">
			<h1> Upload your song, make promotion, profit.</h1>
		</div>
	</div>
</body>
</html>